.nav-wrapper{
    overflow: hidden;
    width: 100%;
}
nav{
    position: relative;
    display: block;
    padding: 10px;
    padding-top: 22px;
    color: #fff;
}

.nav-fixed{
    background: #fff;
    position: fixed;
    left: 0;
    top:0;
    height: 60px;
    width: 100%;
    margin: 0 auto;
    z-index: 1000;
    box-shadow: 0 4px 2px -2px rgba(0,0,0,.3);
}
.nav-fixed nav{
    color: rgba(38, 38, 38,1);;    
}
.nav-relative{
    position: absolute;
    top:0;
    left: 0;
}
.nav-relative .menu:after{
    background-color: #fff;
}
ul li{
    display: inline-block;
    margin: 0 10px;
}
nav a{
    font-family: 'Open Sans', sans-serif;
    color: #000;
}
.logo{
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
}
.active{
    background-color: rgba(38, 38, 38,1);;
    color: white !important;
    padding: 2px 5px; 
}