@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab');
*{
    margin: 0;
    padding:0;
    border: 0;
    overflow: auto;
    box-sizing: border-box;
}
html body{
    background: #c0f9fd;
}
.menu{
    position: relative;
    cursor: pointer;
    text-decoration: none; 
}
.menu:after{
    position: absolute;
    content: '';
    bottom: 0px;
    left: 0px;
    height: 2px;
    width: 0%;
    background: #eee;
    left: 0;
    right: 0;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}
.menu:hover:after{
    width: 100%;
}
/* font-family: 'Open Sans', sans-serif;
font-family: 'Roboto Slab', sans-serif; */